@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

body {
    text-align: center;
    font-family: Segoe UI, Trebuchet MS, Dejavu Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sudoku {
  font-family: 'Coiny', cursive;
}

h1 {
    /* font-family: Raleway, sans-serif; */
    font-family: 'Ceviche One', cursive;
    line-height: 1;
    font-size: 22px;
    margin: 8px 0;
}

button {
  cursor: pointer;
  min-width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0px 1px 0px 0px #54a3f785; */
  /* background: linear-gradient(to bottom, #007dc100 5%, #0061a791 100%); */
  /* background-color: #007dc159; */
  border-radius: 3px;
  border: 1px solid #05141fab;
  color: #ffffff;
  font-family: 'Coiny', cursive;
  font-size: 16px;
  padding: 6px 24px;
  text-decoration: none;
  /* text-shadow: 0px 1px 0px #154682; */
  background: #3a668c63;
}

button:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}

button:active {
  position:relative;
  top:1px;
}

button.active { /* used for buttons with checked checkboxes inside */
  border: solid 5px gold;
}

.sudoku-number-inputs {
  gap: 10px;
  margin: 0 auto 50px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sudoku-number-inputs button {
  height: 40px;
}

.sudoku-settings-inputs {
  gap: 10px;
  margin: 0 auto;
}

.sudoku-number-inputs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: auto;
}

@media (max-width: 767px) { 
  .sudoku-number-inputs { 
    width: 100%;
  }
  .sudoku-number-inputs button {
    height: 50px;
    font-size: 30px;
  }

  button.sudoku-clear-cell-button,
  button.sudoku-note-mode-button {
    font-size: 1em;
  }
}

@media (min-width: 768px) { 
  .sudoku-number-inputs {
    width: 459px; /*same as sudoku*/
  }
  button.sudoku-clear-cell-button,
  button.sudoku-note-mode-button {
    font-size: 13px;
  }
}

.sudoku-number-inputs button {
  /* font-weight: bold; */
  min-width: 40px;
  max-width: 100px;
}

.time {
  font-weight: 20px;
}
.time .minutes,
.time .seconds {
  margin: 0 -2px;
}
.time .colon {
  position: relative;
  bottom: 1px;
  margin: 0 -2px;
}
.adjust-difficulty {
  width: 400px;
  margin: auto;
  text-align: center;
}
.difficulty-slider {
  width: 150px;
}

.sudoku-arrow-key-label {
  font-size: 12px;
}

.sudoku-explanation {
  max-width: 600px;
  min-width: 200px;
  margin: 40px auto;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  background: rgba(230,230,230,0.5);
}

.sudoku-explanation h3 {
  font-weight: bold; 
  font-size: 1.1em;
}
