@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    text-align: center;
    font-family: Segoe UI, Trebuchet MS, Dejavu Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #1C1B1B;
}

.sudoku {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Ceviche One', cursive;
    line-height: 1;
    font-size: 40px;
    margin: 8px 0;
    color: #37E6CA;
    border-bottom: solid 3px #37e6cab8;
}

button {
  min-width: 40px;
  min-height: 45px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #05141fab;
  color: #1e0d0d;
  font-family: 'Roboto Condensed', cursive;
  font-size: 16px;
  padding: 6px 24px;
  text-decoration: none;
  background: #37E6CA;
}

button:hover {
  border: 1px solid #05141fab;
  outline: none;
}

button icon {
  margin-right: 8px;
}


@media (hover: hover) {
  button:hover {
    background-color:#239a87;
  }
}

button.button.sudoku-note-mode-button.active {
  background: gold;
  color: #222;
}

button {
  margin: 6px
}

.sudoku-number-inputs {
  gap: 10px;
  margin: 0 auto 50px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sudoku-number-inputs button {
  height: 40px;
  margin: 0;
}

.sudoku-settings-inputs {
  gap: 10px;
  margin: 0 auto;
}

.sudoku-number-inputs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: auto;
}

@media (max-width: 767px) { 
  .sudoku-number-inputs { 
    margin-right: 6px;
    margin-left: 6px;
    grid-template-columns: repeat(4, 1fr);
  }
  .sudoku-number-inputs button {
    height: 50px;
    font-size: 30px;
  }

  button.sudoku-clear-cell-button,
  button.sudoku-note-mode-button {
    font-size: 1em;
  }
}

@media (min-width: 768px) { 
  .sudoku-number-inputs {
    width: 459px; /*same as sudoku*/
  }
  button.sudoku-clear-cell-button,
  button.sudoku-note-mode-button {
    font-size: 14px;
  }
}

.sudoku-number-inputs button {
  /* font-weight: bold; */
  min-width: 40px;
  max-width: 100px;
  padding: 0;
}

.time {
  font-weight: 20px;
}
.time .minutes,
.time .seconds {
  margin: 0 -2px;
}
.time .colon {
  position: relative;
  bottom: 1px;
  margin: 0 -2px;
}
.adjust-difficulty {
  width: 400px;
  margin: auto;
  text-align: center;
}
.difficulty-slider {
  width: 150px;
}

.sudoku-arrow-key-label {
  font-size: 12px;
}

.sudoku-explanation {
  max-width: 600px;
  min-width: 200px;
  margin: 40px auto;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  background: rgba(230,230,230,0.5);
}

.sudoku-explanation h3 {
  font-weight: bold; 
  font-size: 1.1em;
}
