@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
    text-align: center;
    font-family: Segoe UI, Trebuchet MS, Dejavu Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5f2c82, #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


h1 {
    font-family: Raleway, sans-serif;
    line-height: 1;
    font-size: 22px;
    margin: 8px 0;
}

.outlined-text {
  padding: 6px 0;
  --fill-color: white;
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--fill-color);
  background: linear-gradient(90deg, var(--fill-color) 0%, var(--fill-color) 100%);
  background-size: 0;
  background-position: left;
  background-repeat: no-repeat;
  color: transparent;
  -webkit-background-clip: text;
    background-clip: text;
  transition: 0.5s linear;
  letter-spacing: 7px;
} 

button {
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  
  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}

button:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}

button:active {
  position:relative;
  top:1px;
}

.sudoku-number-inputs {
  gap: 10px;
  height: 30px;
  margin: 0 auto 50px auto;
}

.sudoku-settings-inputs {
  gap: 10px;
  margin: 0 auto;
}


@media (max-width: 767px) { 
  .sudoku-number-inputs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
  }

  .sudoku-number-inputs button {
    height: 50px;
    font-size: 30px;
  }


  .sudoku-settings-inputs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: auto;
  }
}

@media (min-width: 768px) { 

}

.sudoku-number-inputs button {
  font-weight: bold;
  min-width: 40px;
  max-width: 100px;
}



.time {
  font-weight: 20px;
}
.time .minutes,
.time .seconds {
  margin: 0 -2px;
}
.time .colon {
  position: relative;
  bottom: 1px;
  margin: 0 -2px;
}
.adjust-difficulty {
  width: 400px;
  margin: auto;
  text-align: center;
}
.difficulty-slider {
  width: 150px;
}

.sudoku-arrow-key-label {
  font-size: 12px;
}

.sudoku-explanation {
  max-width: 600px;
  min-width: 200px;
  margin: 40px auto;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  background: rgba(230,230,230,0.5);
}

.sudoku-explanation h3 {
  font-weight: bold; 
  font-size: 1.1em;
}
