.sudoku {
  display: grid;
  /* background-color: #222; */
  grid-template-columns: repeat(9, 1fr);
  margin: 10px 0;
  grid-gap: 1px;
}

.sudoku--win {
  border: solid 2px #389674;
}

.sudoku__message {
  margin: 30px;
  padding: 50px;
  background-color: #389674;
  color: white;
}

.sudoku .cell {
  position: relative;
  height: 9vw;
  box-sizing: border-box;
  font-weight: 700;
  transition: background-color 200ms linear;
  background-color: rgba(255,255,255,0.5);
}
.sudoku .cell--animated {
  background-color: rgba(255, 255, 200, 0.5);
  transition: background-color 200ms linear;
}

.sudoku .cell:hover .tiny-number {
  color: #333;
}
.sudoku .cell.border-bottom {
  border-bottom: solid 4px #000000ad;
}
.sudoku .cell.border-right {
  border-right: solid 4px #000000ad;
}
.sudoku .cell.active:hover {
  background-color: transparent;
}
.sudoku .cell.active .value {
  border-color: rgb(253, 197, 13);
}
.sudoku .cell.immutable {
  background-color: #e6e5e5bf;
}
.sudoku .cell:not(.immutable):hover {
  background-color: rgba(200, 230, 250);
}
.sudoku .cell.error,
.sudoku .cell.error:hover {
  background-color: #e58080;
}
.sudoku .cell.valid,
.sudoku .cell.valid:hover {
  background-color: #95e595;
}
.sudoku .cell .tiny-number {
  position: absolute;
  color: #aaa;
  top: 1px;
  left: 2px;
  font-size: 12px;
}
.sudoku .cell .value {
  display: block;
  color: #222;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: border 0.2s;
  border: solid 3px transparent;
  box-sizing: border-box;
}

.sudoku-note-cell {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .sudoku {
    margin-bottom: 50px;
    width: 459px; /*50px * 9 squares + 9 borders * 1px*/
    height: 459px;
    margin-left: auto;
    margin-right: auto;
  }
  .sudoku .cell {
    height: 50px;
    width: 50px;
  }
  .sudoku .cell .value {
    font-size: 30px;
    line-height: 44px;
  }
  .sudoku-note-cell {
    width: 13.66667px;
    height: 13.66667px;
  }
  .sudoku-note-cell--1 {
    top: 3px;
    left: 3px;
  }
  .sudoku-note-cell--2 {
    top: 3px;
    left: 16.66667px;
  }
  .sudoku-note-cell--3 {
    top: 3px;
    left: 30.33333px;
  }
  .sudoku-note-cell--4 {
    top: 16.66667px;
    left: 3px;
  }
  .sudoku-note-cell--5 {
    top: 16.66667px;
    left: 16.66667px;
  }
  .sudoku-note-cell--6 {
    top: 16.66667px;
    left: 30.33333px;
  }
  .sudoku-note-cell--7 {
    top: 30.33333px;
    left: 3px;
  }
  .sudoku-note-cell--8 {
    top: 30.33333px;
    left: 16.66667px;
  }
  .sudoku-note-cell--9 {
    top: 30.33333px;
    left: 30.33333px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }

  /* .sudoku {
    width: 100vw;
  } */
  .sudoku .cell .value {
    font-size: 7vw;
    line-height: 7vw;
  }
  .sudoku-note-cell {
    height: 3.16667vw;
    width: 3.16667vw;
  }
  .sudoku-note-cell--1 {
    top: 0.5vw;
    left: 0.5vw;
  }
  .sudoku-note-cell--2 {
    top: 0.5vw;
    left: 3.66667vw;
  }
  .sudoku-note-cell--3 {
    top: 0.5vw;
    left: 6.83333vw;
  }
  .sudoku-note-cell--4 {
    top: 3.66667vw;
    left: 0.5vw;
  }
  .sudoku-note-cell--5 {
    top: 3.66667vw;
    left: 3.66667vw;
  }
  .sudoku-note-cell--6 {
    top: 3.66667vw;
    left: 3.66667vw;
  }
  .sudoku-note-cell--7 {
    top: 6.83333vw;
    left: 0.5vw;
  }
  .sudoku-note-cell--8 {
    top: 6.83333vw;
    left: 3.66667vw;
  }
  .sudoku-note-cell--9 {
    top: 6.83333vw;
    left: 6.83333vw;
  }
}


.numbers-bar {
  width: 475px;
  margin: 5px auto;
  box-sizing: border-box;
}
.numbers-bar .number {
  background-color: #fdb;
  border: 1px solid #000;
  height: 60px;
  width: 60px;
  box-sizing: content-box;
  font-size: 30px;
  text-align: center;
}
.numbers-bar .number:nth-child(3),
.numbers-bar .number:nth-child(6) {
  margin-right: 3px;
}
.numbers-bar .number:hover {
  background-color: #bdf;
}